<div class="container">
    <div class="row">
        <div class="col-md-6 my-4">
            <app-form-new-item 
            (updateItemEvent)="updateCity($event)" 
            (newItemEvent)="addNewCity($event)" 
            [selection]="selection"
            [label]="'City'" [className]="'btn-info'">
            </app-form-new-item>
        </div>
        <div class="col-md-6 my-4">
            <input type="text" class="form-control" placeholder="Filter...." 
            [(ngModel)]="criteria">
        </div>
        <hr>
        <div class="col-md-8">
            <ng-container *ngIf="cities.length > 1;else templateEmpty">
                <app-cities *ngFor="let city of (cities | filter:criteria)" (cityDeleteEvent)="onCityDelete($event)"
                    (citySelectedEvent)="onCitySelected($event)" [city]="city" [selection]="selection"></app-cities>
            </ng-container>
        </div>
        <div class="col-md-4">
            <ng-container *ngIf="selection?.name">
                <p>Your city is: {{selection?.name}}</p>
                <app-button (click)="onClear()" [label]="'Clear your selection'"></app-button>
            </ng-container>
        </div>
        <ng-template #templateEmpty>
            We don´t have cities xd
        </ng-template>
    </div>
</div>
